[submodule "WaveRNN"]
	path = WaveRNN
	url = ../../CherokeeLanguage/WaveRNN
[submodule "cherokee-audio-data"]
	path = cherokee-audio-data
	url = ../../CherokeeLanguage/cherokee-audio-data.git
[submodule "other-audio-data"]
	path = other-audio-data
	url = ../../CherokeeLanguage/other-audio-data.git
[submodule "cherokee-audio-data-private"]
	path = cherokee-audio-data-private
	url = ../../CherokeeLanguage/cherokee-audio-data-private.git
